body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
    width: 400px;
    margin: 0 auto;
}

.calculator-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100px;
    background-color: rgb(199, 199, 199);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    position: relative;
}

.calculator-display div {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 30px;
}

.calculator-btns {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    grid-auto-flow: dense;
    max-width: 500px;
    min-height: 400px;
    margin: 0 auto;
}

.calculator-btns button {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: white;
}

.btn-operator {
    background-color: rgb(233, 188, 74);
}

.btn-misc {
    background-color: rgb(105, 105, 105);
}

.is-depressed {
    background-color: darkgray;
}

#zero {
    grid-column: auto / span 2;
}